@import url('https://fonts.googleapis.com/css?family=Assistant:300&display=swap');

/*
 * Page structure: 
 * body
 *  #outer_wrapper
 *    #outer_header
 *    #inner_wrapper (main content of page)
 *      #header  (your organization's banner, etc)
 *      .nav     (nav tabs; 1 set if patron, 2 sets if admin)
 *      #content (main page content)
 *      #welcome_header (login/logout buttons)
 *  #footer    (Audience1st footer)
 */
@media (min-device-width: 800px) {
    html {
        font-size: 11pt;
    }
}

body {
    color: #222;
    font-family: 'Assistant', sans-serif ;
    font-size: 12pt;
    background-image: url(./gradient_squares.png);
    background-color: #838383;
}

@media (min-device-width: 800px) {
    #outer_wrapper {
        line-height: 1;
        background: white;
        width: auto;
        margin: 0 100px 0 100px;
    }
}

#outer_wrapper {
    margin: 20px auto;
    padding: 0;
    width: 900px;
    border: 1px solid #EEE;
    background-color: white;
    height:  100%;
}
#inner_wrapper {
    margin: 0;
    padding: 10px 0 10px 0;
    overflow: auto;
    background-color: whitesmoke;
    border: 2px groove ;
    border-style: groove;
}
#header {
    background: url(./logo.png) top center no-repeat;
    height: 70px;
    /* for CSS3, this should be background-height */
    width: 100%;
    display: inline-block;
    text-align: left; }

#content {
    padding: 0;
    margin: 0;
}
#footer {
    margin: 0;
    font-style: italic;
    padding: 20px;
    color:  #888;
    background-color: #eee;
}
#footer a {
    color:  rgba(120,0,40,.3);
    font-weight: bold;
    text-decoration:  underline;
}

/* Navigation tabs */

ul.nav {
    background-color: #780028;
    width: 100%;
}
ul.nav li {
    border-right: 1px solid whitesmoke;
}    
ul.nav li a {
    font-size: 11pt;
    color: white;
    padding: 1ex;
    margin: 0;
    text-decoration: none;
}
ul.nav li.active a, ul.nav li a:hover {
    border-radius: 0;
    background-color: #ccc;
    color: #780028;
}

/* text links */
a {
    text-decoration: none;
    color: #c03202; }
a:hover {
    text-decoration: underline; }

/* basic paragraphs and headers */

strong, .strong {
    font-weight: bold;
    color: #c03202; }

fieldset {
    color: #222222;
    border: 1px solid black;
}

/* 
 * Utility styles - these are used in various places so don't delete
 */

.explain {
    border: 1px solid #8d3127;
    background: white;
    padding: 2px 2px;
    margin: 2px 2px;
    vertical-align: top; }

/************************
 * Page-specific styles 
 ************************/
/* "show my tickets" page */
.showName {
    font-weight: bold;
    color: maroon;
    line-height: 1.4; }

/* 
 * Specific messaging for Store and Subscribe pages
 */
.storeBanner {

    color: #555;
    padding: 5px;
    margin: 4px;
    text-align: center;
    font: italic larger;
    border-width: 4px;
    border-style: ridge;
}
