/*
 * Page structure:
 * body
 *  #outer_wrapper
 *    #outer_header
 *    #inner_wrapper (main content of page)
 *      #header  (your organization's banner, etc)
 *      .nav     (nav tabs; 1 set if patron, 2 sets if admin)
 *      #content (main page content)
 *      #welcome_header (login/logout buttons)
 *  #footer    (Audience1st footer)
 * default css file: https://cdn.jsdelivr.net/gh/armandofox/stylesheets@master/nono-berkeley/default.css
 */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
html {
    font-size: 11pt;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: #121313;
}
body {
    background-color: black;
}

#outer_wrapper {
    /*line-height: 1;*/
    background: black;
    width: 960px;
    margin: 0 auto;
    height: 100%; }

#inner_wrapper {
    background-color: white;
    width: 960px;
    /* change if want to do left sidebar */
    margin: 0;
    padding: 0 0 10px 0;
    overflow: auto;
    /* banner links to venue's main site */
}
#inner_wrapper a#top_level_banner_link {
    margin: 0;
    padding: 0;
}

#header {
    /*font-family: 'EB Garamond', serif;*/
    /* to include a site logo, use 'background-image:' here */
    height: 300px;
    background-image: url("NONOmain.png");
    background-size: contain;
    background-position: center center;
    /*font-size: 400%;*/
    /*color: #121313;*/
    /*background-color: #fff;*/
    /*text-shadow: 2px 2px #a89720;*/
    padding: 16px 0px 0px 20px;
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    text-align: left;
}


#content {
    padding: 0px 4px;
}

#footer {
    margin: 0;
    padding: 20px;
    color: white;
}
#footer a {
    color: white;
    font-weight: bold;
    /*text-decoration: underline;*/
}

/* Navigation tabs - based on Bootstrap's nav tabs CSS */

ul.nav li a {
    color: #777;
}
ul.nav li.active a {
    color: blue;
}

#event_types .btn {
   display: none;
}

/*lindy chages*/

p.py-4{
  display: none;
}

#regularShow_BannerNonSubscriber.storeBanner {
  padding: 20px 20px 56px 20px;
}

/*#enter_promo_code {
  display: none;
}*/

#show_description.explanation {
  padding: 20px
}

.col-md-4.offset-md-4 {
  padding: 20px
}

body#store_checkout  div#someone_else  {
   display: none;
}
