@import url('https://fonts.googleapis.com/css?family=Nunito:200');

/*
 * Page structure: 
 *  outer_wrapper
 *    inner_wrapper (main content of page)
 *      header  (your organization's banner, etc)
 *      nav     (nav tabs bar)
 *      content (main page)
 *  footer    (Audience1st footer)
 */

#outer_wrapper {
    width: 100%;
    padding: 0;
    background-color: #511211;
}

#inner_wrapper {
    width: 100%;
    padding: 20px;
    overflow: auto;
}

#header {
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
}
@media(min-device-width: 900px) {
    #header {
        height: 207px;
        background-image: url('./lhtsf_logo.png');
        background-position: 40px 3px;
    }
}
@media(max-width: 480px) {
    #header {
        /* small image here? */
    }
}
#footer {
    width: 100%;
    background-color: #262626;
    height: 126px;
}
#footer p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 125%;
    padding-top: 40px;
}

.themed {
    font-family: "Nunito", sans-serif;
    font-size: larger;
    font-weight: light;
    color: white;
    background-color: #511211;
}

.themed h1, .themed h2, .themed h3 {
    font-weight: bold;
    color: white;
    font-size: 175%;
}


.themed fieldset {
    padding: 10px;
    margin: 2px;
    border: 1px solid white;
}

/*
 *  Classes to apply to generic elements
 */

/* a few overrides to Bootstrap's defaults, because of color scheme */

.themed .card-header {
    background-color: #bc8d61;
}

.themed strong, .themed .strong {
    font-weight: bold;
    color: #fed94e;
}
/* 
 * Utility styles - these are used in various places so don't delete
 */

.explain {
    border: 1px solid #8d3127;
    background: white;
    padding: 2px 2px;
    margin: 2px 2px;
    vertical-align: top;
}


/* Navigation tabs - don't mess with these unless you know what you're
   doing - it allows the UL environment to create horizontal tabs
*/


ul.nav {
    border: none;
}

ul.nav li a {
    margin: 0 5px 0 5px;
    padding: 18px 5px 3px 5px;
    text-decoration: none;
    letter-spacing: 0.1em;
    color:  white;
    background-color: #511211;
}
ul.nav li a:hover {
    border-top: 4px solid #fed94e;
    padding: 15px 6px 3px 6px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
ul.nav li.active a {
    color: #fed94e;
    border-top: 4px solid #fed94e;
    padding: 15px 5px 3px 1px;
}
ul.nav li.active a:hover {
    border-top: 4px solid #fed94e;
    padding: 15px 6px 3px 2px;
}


/************************
 * Page-specific styles 
 ************************/

/* checkout/billing */

.a1-cart-show-name, .a1-cart-show-date {
    color: #0070ff;
}

/* "show my tickets" page */
.showName {
    font-weight: bold;
    color:  white;
    line-height: 1.4
}

/* 
 * Specific messaging for Store and Subscribe pages
 */

.storeBanner {
    background-color: maroon;
    color: white;
    padding: 5px;
    margin: 4px;
    text-align: center;
}

.storeBanner a {
    color: #c89869;
}
