@charset "utf-8";
/* CSS Document */

body {
	background-color: #EAB634;
	width: 772px;
	margin: 0 auto;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-align: center; /* for stupid IE 5.5 */
}

.clear {
	float: none;
	clear: both;
	height: 0px;
	line-height: 0px;
}

.spacer {
	float: none;
	clear: both;
	height: 10px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.caption {
	color: #BA0000;
	font-size: 80%;
	font-weight: normal;
}

#wrapper {
	background-color: #fff;
	border: 1px solid #000;
	position: relative;
	width: 770px;
	text-align: left;
} 

#header {
}

#header img {
}

#homelogo {
	float: left;
	margin: 0px;
}

#header p {
	font-size: 80%;
	font-style:italic;
	color: #9F9F9F;
	width: 550px;
	text-align: right;
	margin: 0px 0px 15px 200px;
}

#nav {
	position: absolute;
	top: 70px;
	left: 190px;
	z-index: 1000;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#nav ul li {
	float: left;
	text-align: center;
	position: relative;
}

#nav ul li a {
	width: 94px;
	color: #BA0000;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
	display: block;
	padding: 2px 0px;
}

#nav ul li a:hover {
	background-color: #BA0000;
	color: #fff;
}

#nav ul li ul {
	display: none;
	position: absolute;
	top: 17px;
	left: 0px;
	z-index: 1010;
}

#nav ul li ul li a {
	background-color: #fff;
	width: 92px;
	display: block;
	text-transform:capitalize;
	color: #BA0000;
	text-decoration: none;
	font-size: 80%;
	font-weight: normal;
	text-align: center;
	padding: 2px 0px;
	border-bottom: 1px solid #BA0000;
	border-left: 1px solid #BA0000;
	border-right: 1px solid #BA0000;
}

#nav ul li ul li a:hover {
	background-color: #BA0000;
	color: #fff;
	font-size: 80%;
	font-weight: normal;
	border-left: 1px solid #BA0000;
	border-right: 1px solid #BA0000;
}

#nav li > ul {
	top: auto;
	left: auto;
}

#nav ul li:hover ul, #nav ul li.over ul {
	behavior:url("/_htc/csshover.htc"); /* to fix IE's :hover bug */
	display: block;
}

#feature, #inner {
	border-top: 1px solid #000;
	clear: both;
	width: 770px;
	height: 244px;
	border-bottom: 1px solid #000;	
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 80%;
	background-color: #BA0000;
	background-image:url(../_images/back_inside.gif);
	background-position: top right;
	background-repeat:repeat-y;
	position: relative;
	z-index: 10;
}

#inner {
	height: auto;
	margin-bottom: 0px;
	background-color: #fff;
	background-image:url(../_images/back_inside.gif);
	background-position: top left;
	background-repeat:repeat-y;
	border-bottom: none;
}

.imgfloat {
	float: right;
	border: 1px solid #000;
	margin: 0px 5px 10px 10px;
}

.secheader {
	float: left;
	width: 24px;
	text-align: center;
	border-right: 1px solid #000;
	background-color: #BA0000;
}

#inner .secheader {
	border-right: 0px;
}

.featphoto, .subphoto {
	float: left;
	border-right: 1px solid #000;
}

.subphoto img {
	border: 0px;
}

.innercontent {
	float: left;
	width: 486px;
	color: #000;
	font-size: 110%;
	margin-top: 10px;
}

.innercontent h1 {
	color: #BA0000;
	font-size: 135%;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.innercontent h2 {
	margin: 0px 10px 10px 10px;
	font-size: 115%;
	font-weight: bold;
}

.innercontent p {
	margin: 0px 10px 15px 10px;
}

.featcontent, .sidebar {
	width: 259px;
	height: 244px;
	float: left;
	height: 100%;
}

.featcontent h1, .sidebar h1 {
	font-size: 125%;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 10px;
}

.featcontent p, .sidebar p {
	margin: 0px 5px 10px 10px;
}

.featcontent ul, .sidebar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 259px;
}

.sidebar ul {
	position: relative;
	bottom: auto;
	right: auto;
}

.sidephoto {
	border-bottom: 1px solid #000;
	margin-left: 1px;
}

.featcontent ul li, .sidebar ul li {
	display: inline;
}

.featcontent ul li a, .sidebar ul li a {
	display: block;
	border-top: 1px solid #BA0000;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 110%;
	padding: 3px 5px 3px 160px;
	text-decoration: none;
	color: #fff;
}

.sidebar ul li a {
	padding-left: 50px;
}

#calendar table {
	width: 243px;
	margin-top: 10px;
}

#calendar th {
	background-color: #000;
	font-weight: bold;
	font-size: 100%;
	padding: 3px;
	text-align: center;
}

#calendar td {
	vertical-align: top;
	text-align: right;
	padding: 0px 2px 5px 2px;
	background-color: #800404;
}

#calendar .date {
	color: #fff;
	font-size: 90%;
	margin-top: 2px;
	margin-right: 2px;
}

#calendar p {
	color: #fff;
	font-size: 90%;
	line-height: 110%;
	margin-top: 5px;
	margin-bottom: 0px
}

#calendar a {
	color: #fff;
}

#bodyform {
	background-color: #F5D282;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 10px 0px;
	width: 484px;
	margin-left: 2px;
}

.noborder {
	border: none;
}

.featcontent ul li a:hover, .sidebar ul li a:hover {
	text-decoration: none;
	background-color: #BA0000;
}

.featcontent img, .subcontent img {
	border: none;
    behavior: url("/_htc/pngbehavior.htc");  /*to fix IE's PNG alpha transparency bug */
}


.subhalf, .subquarter {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #FCE99C;
	background-image:url(../_images/back_sub.gif);
	background-position: top right;
	background-repeat:repeat-y;
	float: left;
	margin-bottom: 10px;
	position: relative;
}

.subhalf {
	width: 379px;
}

.subcontent {
	width: 213px;
	float: left;
	height: 100%;
}

.subcontent h1 {
	margin: 5px 5px 0px 10px;
	margin-left: 10px;
	font-size: 120%;
	color: #BA0000;
	font-weight: bold;
	text-transform: uppercase;
}

.subcontent h2 {
	font-size: 90%;
	font-weight: bold;
	color: #000;
	margin: 0px 5px 0px 10px;
}

.subcontent p {
	margin: 10px 5px 0px 10px;
	font-size: 80%;
}

.subcontent ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 213px;
}

.subcontent ul li {
	display: inline;
}

.subcontent ul li a {
	display: block;
	border-top: 1px solid #FCE99C;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 90%;
	padding: 3px 0px 3px 110px;
	text-decoration: none;
	color: #BA0000;
}

.subcontent ul li a:hover {
	text-decoration: none;
	background-color: #FCE99C;
}

/* FOOTER */
#footer {
	clear: both;
	width: 770px;
	margin-top: 0px;
	padding: 5px 0px;
	color: #BA0000;
	font-size: 75%;
	height: 30px;
	text-align: left;
}

#footcol1, #footcol2, #footcol3 {
	width: 283px;
	float: left;
	margin-left: 10px;
}

#footcol2 {
	width: 313px;
}

#footcol3 {
	width: 115px;
}

#footer a {
	color: #BA0000;
	text-decoration: none;
	font-weight: bold;
}

#footer a:hover {
	text-decoration: underline;
}