@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Merriweather');

html {
  font-size: 10pt;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  background-color: #671e22;
}

h1, h2, h3 {
  font-weight: bold;
      color: maroon;
}

/* lists */

ol, ul {
        list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: separate;
        border-spacing: 0;
        border: 0;
	margin-bottom: 10px;
	margin-top: 4px;
}
/* easier to navigate if tabular rows hilited on hover */
table.hilite tr:hover {
	background-color: #fcfe69;
}
/* To make alternating table rows different colors, set the styles here  */
.even { background-color: inherit; }
.odd { background-color: #eee; }


form {
	display: inline;
}


fieldset {
  padding: 10px;
  border: 1px solid black;
}

thead {
  background-color: #EEE;
  color: black;
}
th {
  margin: 0;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  background: #333;
  color: #fff;
}
td {
  padding: 1px 2px;
}
/*
caption {
        text-align: left;
        font-weight: normal;
}
*/
/*
 *  Classes to apply to generic elements
 */

strong, .strong {
  font-weight: bold;
  color: red;
}
em, .emphasis {
  color: red;
  font-style: italic;
}
/* 
 * Utility styles - these are used in various places so don't delete
 */
.invisible {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  font-size: 1px;
  color: white;
  border: none;
}
.currency {
  text-align: right;
}
.indented {
  margin: 5px 0 5px 150px;
  padding: 0;
}
.t { vertical-align: top; }

.small {
  font-size: 0.8em;
}
.clear {
  clear: both;
}
.no_float {
  float: none;
  width: 100%;
}
.feedback {
  margin: 0;
  padding: 5px;
  background-color: #ddc;
  color: #555;
}
.notice {
  margin: 3px 0;
  padding: 5px;
  background-color: #EEE;
  color: maroon;
  border: 1px solid #CCC;
  line-height: 1.5;
	text-align: center;
	font-size: larger;
}

.warning {
  margin: 3px 20px;
  color: red;
  border: 1px solid red;
  line-height: 1.2;
  font-weight: bold;
  padding: 6px 10px;
}

.wide_button {
  letter-spacing: 0.25em;
  width: 150px;
}
.wide_label {
  width: 300px;
}

/* Error messages shown to customers */

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 110%;
  list-style: square;
}

.explain {
  border: 1px solid #8d3127;
  background: white;
  padding: 2px 2px;
  margin: 2px 2px;
  vertical-align: top;
 }

/*
 * Generic classes for admin-only visible elements
 */
.infoMsg {
  color: red;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 125%;
  border: 2px solid red;
 }

.admin {
   background-color:  #eff19e;
   color: black;
}
.adminDiv {
   background-color:  #eff19e;
   display: block;
}
.adminField {
   clear: both;
   padding: 2px 10px;
   background-color: #eff19e;
   color: black;
}

/* Additional field qualifiers for errors etc */

.validationError {
  color: red;
 }

.highlighted {
  background-color: #9f9;
}

.fieldWithErrors {
  padding: 2px;
  color: white;
  background-color: red;
  display: table;
}

.disabledField {
	background-color: #e6e6e6;
	border: none;
	color: #000;
	font-weight: bold;
}


/*
 * Page structure: 
 *  outer_wrapper
 *    outer_header
 *    inner_wrapper (main content of page)
 *      header  (your organization's banner, etc)
 *      nav     (nav tabs bar)
 *      content (main page)
 *  footer    (Audience1st footer)
*/
#outer_wrapper {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  border: 1px solid #EEE;
  background-color: white;
  height:  100%;
}
#inner_wrapper {
  margin: 0;
  padding: 0 0 10px 0;
  overflow: auto;

}
.full_width {
  width: 800px;
}
#header {
  height: 100px;
  width:  100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  text-align: left;
  background-image: url('./altarena_banner_2017.png');
}
#content {
  padding: 0 4px;
}
#footer {
  margin: 0;
  padding: 20px;
  color:  #ddd;
}
#footer a {
        color:  white;
        font-weight: bold;
        text-decoration:  underline;
}


/* Navigation tabs - don't mess with these unless you know what you're
   doing - it allows the UL environment to create horizontal tabs
 */
#themed-nav {
    width: 100%;
    display: block;
    overflow: auto;
    background-color: #69131c;
}
ul.nav {
  float: left;
  width: 100%;
  display: block;
  list-style: none;
  border-bottom: 2px solid white;
}
ul.nav li {
  float:  left;
  border-right: 1px solid #db7141;
  border-top: 1px solid white;
}

ul.nav li a {
  margin: 0;
  padding: 10px 5px 3px 5px;
  display: block;
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  color:  white;
  background-color: #69131c;
}

ul.nav li a:hover {
  background-color: #433637;
}

/* override nav tab color when tab selected */
body#store_index                    li#t_store_index a, 
body#customers_show                 li#t_customers_show a, 
body#customers_edit                 li#t_customers_edit a, 
body#customers_change_password_for      li#t_customers_change_password_for a,
body#store_donate li#t_store_donate a,
body#report_index                   li#t_report_index a,  
body#box_office_walkup	            li#t_box_office_walkup a,
body#options_edit                   li#t_options_edit a,
body#shows_list						li#t_shows_list a,
body#shows_edit						li#t_shows_list a,
body#showdates_edit					li#t_shows_list a,
body#vouchertypes_list				li#t_vouchertypes_list a,
body#vouchertypes_edit				li#t_vouchertypes_list a,
body#donation_list 					li#t_donation_list a {
        background-color: white;
        color: #800;
}

/*
 * Welcome banner elements
 */

.welcomeBanner {
  font-size: 125%;
  font-weight: bold;
}

#logged_in {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: #EEE;
  color: #444;
}
#welcome {
        color: #787878;
        padding: 5px;
        font: italic 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#logged_in_welcome .button-to, #welcome .gen_button {
        display: inline;
}

#homepage_ticket_sales_text, #homepage_subscription_sales_text, .new_account {
	display: inline-block;
	margin: 10px 0 8px 0;
}

/* Welcome banner */
#welcome_header {
	clear:  both;
}
#admin_welcome_header {
        clear: both;
}

/*
 * My Tickets and Reservations page
 */
#customerVoucherList tbody td, #customerVoucherList td {
  border-bottom: 3px solid #CCC;
  text-align: center;
}

table#subscriptionReservations tr {
        line-height: 1.75;
}
table#subscriptionReservations td.selectShowdate {
/*  width: 25em;*/
}
table#subscriptionReservations .showdate {
  width: 20em;
}
table#subscriptionReservations .action {
  text-align: center;
  vertical-align: top;
}


/********************
  Cart styles 
 ********************/
div#cart {
  margin: 5px 0;
  padding: 10px;
  border: 3px double #CCC;
}
p#empty_cart {

}
ol#cart_items { }
li.cart_item {
  margin: 0;
  padding: 3px;
}
.price_and_actions {
  margin: 0;
  padding-left: 5px;
  width: 20%;
  float: right;
}
.price_and_actions .actions {
  float: right;
}
.cart_item_price { }
span.cart_item_desc {
  display: block;
}
.voucher_show_name {
  text-decoration: none;
        text-transform: capitalize;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-variant: small-caps;
        font-size: 150%;
        color: #800000;
}
.voucher_show_date {
  font-style: italic;
}
.voucher_type {
  margin: 0;
  padding: 0 3px;
  background-color: transparent;
  color: #444;
}
.promo_code { }
.donation_name, .retail_item_description {
  background-color: transparent;
color:  maroon;
font-weight: bold;
}
#cart_total {
  margin-top:  2px;
  padding: 2px;
  background-color: #666;
  color: white;
  border: 1px solid #EEE;
}
#total_price {
  display: block;
  float: right;
  font-weight:  bold;
  width: 20%;
}


/************************
 * Page-specific styles 
 ************************/

/* "show my tickets" page */
.showName {
        font-weight: bold;
        color:  maroon;
        line-height: 1.4
}
h2.subscription_msg {
  margin: 0;
  padding: 10px;
  background-color: #EEE;
  color: #057;
  font-weight: bold;
  font-style: italic;
  font-size: 150%;
  text-align: center;
  letter-spacing: normal;
}
.subscription_msg2 {
  margin-top: 3px;
  padding: 0;
  font-size: 0.9em;
  text-align: center;
}

#have_account {
  margin: 0;
  padding: 10px;

  float: left;
  width: 475px;

  /*border: 1px solid red;*/
  border-right: 5px double black;
}
#new_customer {
  margin: 0;
  padding: 10px;

  float: left;
  width: 200px;

  /*border: 1px solid green;*/
}

fieldset#FAQ {
  border: 1px solid red;
}

fieldset#admin_form {
  color: black;
  border: 1px solid black;
}

/*
 *  Store   //////////////////////////////////////////////////
 */
#event_types {
  margin-top: 1ex;
  margin-bottom: 1ex;
}
/*
#ticket_menus {
  margin-top: 20px;
  padding: 0;
}
#ticket_menus label {
  width: 300px;
  padding-top: 0.7ex;
}
#enter_promo_code label {
	width: 300px;
}
*/
#ticket_menus #add_to_cart {
  margin-left: 300px;
  padding: 0;
}
#ticket_menus *.explanation {
  margin-left: 300px;
  padding:  1px;
  padding-bottom: 2px;
  /* border: 1px solid #ccc;*/
  border: 1px solid rgb(137,25,18);
  border: 1px solid rgba(137,25,18,0.5);
  color: rgba(137,25,18,0.85);
}
#orderTotal {
  font-size: larger;
  font-weight: bold;
  vertical-align: bottom;
  color: red;
  background-color: #eee;
}
#orderTotal input {
  font-size: inherit;
}
#donate {
  margin: 0 0 20px 0;
  padding: 10px 0;
  background-color: #f6f6ed;
}
#donate_info {
  margin: 0 auto 10px auto;
  padding: 5px;
  width: 400px;
  background-color: #EEE;
  color: black;
  border: 1px solid black;
}

/* 
 * Specific messaging for Store and Subscribe pages
 */

.storeBanner {
  background-color: maroon;
  color: white;
  padding: 5px;
  margin: 4px;
  text-align: center;
	font: italic large Georgia, "Times New Roman", Times, serif;
}

.storeBanner a {
  color: yellow;
}

/***********************************************************************
 * Styles below this point are never seen by regular customers
 **********************************************************************/

/* 
 * Customer name autocompletion popup
 * Don't modify these unless you know
 * what you're doing
 */

div.auto_complete {
	width: 350px;
	background: #fff;
}

div.auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

div.auto_complete ul li {
	margin: 0;
	padding: 3px;
}

div.auto_complete ul li.selected {
	background-color: #ffb;
}

div.auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}


/* 
 * plain style for receipts 
 */
body#receipt { 
  background: none;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  border: 2px solid black;
  padding: 0.5em;
  margin: 0.5em;
  font-size: larger;
}
body#receipt * {
  color: black;
  background: none;
}

/*
 * Quick search customer panel
 */
#customer_quick_search {
	padding-top: 0;
	padding-bottom: 0;
}
#customer_quick_search table {
	padding: 0;
	margin: 0;
}
#onBehalfOfName {
	color: blue;
	font-weight: bold;
	font-size:  larger;
}

/*
 * Merge toolbar
 */

.merge_bar {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

/*
 * Staff action buttons that appear for a customer (Contact, Prospecting, etc)
 */
#staffButtons {
	border-top: 1px groove #fff;
}

/*
 * General utility styles
 */
.totalsRow {
  font-weight: bold;
  background-color: #ccc;
  font-size: larger;
 }


/* 
 * Edit shows and showdates
 */

.show_name {
	font-style: italic;
}
table.showdates_summary {
	border-style: solid;
	border-color: #000;
	background-color: #e6e6e6;
	line-height: normal;
	padding-left: 20px;
}
table.showdates_summary th {
	background-color: #e6e6e6;
	color: #4c4c4c;
	text-align: center;
}
table.showdates_summary td {
	padding-right: 5px;
	padding-left: 5px;
}



/*
 * Box office functions header ("stats for this show")
 */
 
 table#showdate_info, table#showdate_info td {
	border: 0;
	font-size: larger;
	width: 600px;
	text-align: center;
}

/*
 * Reports
 */

/* Advance sales reports */



div.show .showSalesDate {
  width: 15em;
}
div.show .showSalesVoucherType {
  padding-left: 1em;
  width: 20em;
}
div.show .showSalesDateQty {
  width: 5em;
  text-align: left;
}
div.show .showSalesDatePercent, div.show .showSalesPercent {
  width: 12em;
}
div.show .showSalesDateRevenue {
  width: 10em;
  font-weight: bold;
}
div.show .showSalesRevenue {
  width: 10em;
}
